<div class="row clearfix">
  <div class="code_content_container col-md-4 column">
    <h4 class="text-info text-center">
      HTML
    </h4>
    <pre class="code_vertical_scrollbar">
      <code id="show-content_code_html" class="html code_horizontal_scrollbar">
      </code>
    </pre>
  </div>
  <div class="code_content_container col-md-4 column">
    <h4 class="text-info text-center">
      Javascript
    </h4>
    <pre class="code_vertical_scrollbar">
      <code id="show-content_code_js" class="html code_horizontal_scrollbar">
      </code>
    </pre>
  </div>
  <div class="code_content_container col-md-4 column">
    <h4 class="text-info text-center">
      CSS
    </h4>
    <pre class="code_vertical_scrollbar">
      <code id="show-content_code_css" class="html code_horizontal_scrollbar">
      </code>
    </pre>
  </div>
</div>
<div class="row clearfix" align="center">
  <div id="show-content_render" class="show_content_render_div col-md-12 column">
  </div>
</div>

