<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="css/default.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/github-markdown.css">
<div class="row clearfix">
  <div class="text-center">
    <h3> <%= title %> <h3>
  </div>
  <article class="markdown-body" id="markdown-body_content">
  </article>
</div>

<!-- https://highlightjs.org/ -->
<script src="js/highlight.min.js"></script>
<script src="js/highlightjs-line-numbers.min.js"></script>
